form {
  display: flex;
  margin-left: 23%;
  margin-top: 5%;
  font-family: 'Josefin Sans', sans-serif;
}

label {
  display: flex;
  color: rgb(211, 173, 99);
  align-items: center;
  font-size: 120%;
  padding-right: 2%;
  font-weight: bolder;
}

input {
  display: flex;
  color: rgb(211, 173, 99);
  font-family: 'Josefin Sans', sans-serif;
  box-shadow: 8px 15px 15px 5px rgb(0, 0, 0);
}

#search-term {
  padding: 1% 2% 1% 3%;
  font-size: 120%;
  border-top: solid 1px rgb(233, 192, 109);
  border-left: solid 1px rgb(233, 192, 109);
  border-right: solid 1px rgb(127, 90, 43);
  border-bottom: solid 1px rgb(127, 90, 43);
}

#submit {
  font-size: 120%;
  margin-left: 5%;
  padding: 0% 4% 0% 4%;
  cursor: pointer;
  background-image: radial-gradient(rgb(233, 192, 109), rgb(127, 90, 43));
  border: solid 1px rgb(88, 62, 27);
  color: rgb(38, 38, 38);
  font-weight: bolder;
  box-shadow: 8px 15px 15px 5px rgb(0, 0, 0);
  transition: 1s;
}

#submit:hover {
  padding: 0% 6% 0% 6%;
}

::placeholder {
  text-shadow: 0 0 10px rgb(233, 192, 109);
}


