<div class="drink-info">
  <h2>{{strDrink}}</h2>
  <span class="ingredient-bucket">
    <p><strong>Ingredients:</strong></p>
    <ul>
      <li>{{strMeasure1}} {{strIngredient1}}</li>
      <li>{{strMeasure2}} {{strIngredient2}}</li>
      <li>{{strMeasure3}} {{strIngredient3}}</li>
      <li>{{strMeasure4}} {{strIngredient4}}</li>
      <li>{{strMeasure5}} {{strIngredient5}}</li>
      <li>{{strMeasure6}} {{strIngredient6}}</li>
      <li>{{strMeasure7}} {{strIngredient7}}</li>
      <li>{{strMeasure8}} {{strIngredient8}}</li>
      <li>{{strMeasure9}} {{strIngredient9}}</li>
      <li>{{strMeasure10}} {{strIngredient10}}</li>
      <li>{{strMeasure11}} {{strIngredient11}}</li>
      <li>{{strMeasure12}} {{strIngredient12}}</li>
      <li>{{strMeasure13}} {{strIngredient13}}</li>
      <li>{{strMeasure14}} {{strIngredient14}}</li>
      <li>{{strMeasure15}} {{strIngredient15}}</li>
    </ul>
    <p><strong>Glass Type:</strong> {{strGlass}}</p>
  </span>
  <span class="instruction-bucket">
    <p><strong>Instructions:</strong> {{strInstructions}}</p>
  </span>
  <img class="drink-pic"
    src={{strDrinkThumb}} alt="Picture of drink">
</div>
