ul {
  list-style: none;
}

img {
  width: 100%;
}

p {
  font-size: 100%;
  background-color: rgb(38, 38, 38);
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(211, 173, 99);
}

h2, h3, span {
  background-color: rgb(38, 38, 38);
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(211, 173, 99);
}

strong {
    background-color: rgb(38, 38, 38);
}

.drink-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  margin: 5% 10% 10% 20%;
  padding: 5%;
  background-color: rgb(38, 38, 38);
}

.drink-pic {
  grid-row: 1 / span 3;
  grid-column: 2 / span 1;
  text-align: center;
}
