ul {
  list-style: none;
  background-color: rgb(38, 38, 38);
}


img {
  width: 100%;
  margin-left: 8%;
  border-radius: 5%;
  border-top: solid 2px rgb(233, 192, 109);
  border-left: solid 2px rgb(233, 192, 109);
  border-right: solid 2px rgb(127, 90, 43);
  border-bottom: solid 2px rgb(127, 90, 43);
}

@media only screen and (max-width: 700px) {
  img {
    width: 80%;
    margin-left: 7%;
  }
}


p, li {
  background-color: rgb(38, 38, 38);
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(201, 184, 152);
  font-size: 120%;
}

@media only screen and (max-width: 700px) {
  p, li {
    font-size: 80%;
  }
}

p {
  margin-left: 8%;
  font-size: 120%;
}

li {
  font-size: 120%;
}


h2, h3, span {
  background-color: rgb(38, 38, 38);
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(211, 173, 99);
}

h2 {
  text-align: center;
  font-size: 240%;
}

@media only screen and (max-width: 700px) {
  h2 {
    font-size: 130%;
  }
}

strong {
    background-color: rgb(38, 38, 38);
    margin-bottom: 4%;
    display: block;
    color: rgb(211, 173, 99);
}

.drink-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  margin: 5% 10% 10% 27%;
  padding: 5%;
  background-color: rgb(38, 38, 38);
  border-radius: 3%;
  box-shadow: 8px 15px 15px 5px rgb(0, 0, 0);
  transition: 2s;
}

@media only screen and (max-width: 700px) {
  .drink-info {
    margin: 10% 10% 2% 0%;
    display: flex;
    flex-direction: column;
  }
}

.drink-info:hover {
  box-shadow: 8px 15px 15px 5px rgb(211, 173, 99);
}

.drink-pic {
  grid-row: 1 / span 3;
  grid-column: 2 / span 1;
  text-align: center;
}
