main {
  margin-left: 20%;
  display: grid;
  grid-template-columns: auto auto;
  font-family: 'Josefin Sans', sans-serif;
}

@media only screen and (max-width: 700px) {
  main {
    margin: 30% 0% 10% 0%;
  }
}

h2, p {
  text-align: center;
}

h2 {
  font-size: 260%;
  margin-bottom: 10%;
  margin-top: 10%;
  color: rgb(139, 113, 62);
}

@media only screen and (max-width: 700px) {
  h2 {
    font-size: 200%;
  }
}

p {
  font-size: 180%;
  margin-top: 5%;
    color: rgb(241, 206, 135);
}

@media only screen and (max-width: 700px) {
  p {
    font-size: 120%;
  }
}

