<main>
  <div class="tap">
    <h2>On Tap:</h2>
    <p>Tropic Haze IPA</p>
    <p>Samuel Adams Summer Ale</p>
    <p>Mac & Jack's African Amber</p>
    <p>Irish Death</p>
    <p>Elysian Space Dust</p>
    <p>Kraken Stash</p>
    <p>Hefe Hop Valley</p>
    <p>Blue Moon</p>
    <p>Bud Lite</p>
    <p>Coors Lite</p>
  </div>
  <div class="bottle">
    <h2>In A Bottle:</h2>
    <p>Angry Orchard</p>
    <p>Corona Extra</p>
    <p>Michelob Ultra</p>
    <p>Miller Lite</p>
    <p>Pabst Blue Ribbon</p>
    <p>Stella Artois</p>
    <p>Modelo Especial</p>
    <p>Silver City Tropic Haze</p>
    <p>Heineken 2.0 Non-Alcoholic</p>
  </div>
</main>
