main {
  margin-left: 20%;
  display: grid;
  grid-template-columns: auto auto;
  font-family: 'Josefin Sans', sans-serif;
}

h2, p {
  text-align: center;
}

h2 {
  font-size: 260%;
  margin-bottom: 10%;
  margin-top: 10%;
  color: rgb(139, 113, 62);
}

p {
  font-size: 180%;
  margin-top: 5%;
    color: rgb(241, 206, 135);
}

