
<div class="specials-info">
  <span class="img-container">
    <img src="{{imageurl}}" alt="Special Cocktail">
    <h2>{{name}}</h2>
  </span>
  <span class="ingredient">
    <ul>
      <h3>Ingredients:</h3>
      <li><strong>Glass Type: </strong>{{glass}}</li>
      &nbsp;
      <li>{{ingredient1}}</li>
      <li>{{ingredient2}}</li>
      <li>{{ingredient3}}</li>
      <li>{{ingredient4}}</li>
      <li>{{ingredient5}}</li>
      <li>{{ingredient6}}</li>
      &nbsp;
      <li><strong>Top With: </strong>{{topper}}</li>
    </ul>
  </span>
  <span class="instructions">
    <ul>
      <h3>Instructions:</h3>
      <li>{{instruction1}}</li>
      <li>{{instruction2}}</li>
      <li>{{instruction3}}</li>
      <li>{{instruction4}}</li>
      <li>{{instruction5}}</li>
      <li>{{instruction6}}</li>
      <li>{{instruction7}}</li>
      <li><strong>Garnish With: </strong>{{garnish}}</li>
    </ul>
  </span>

</div>
