
.drinks, a {
  display: flex;
  flex-direction: column;
  margin-left: 18%;
  margin-top: 1%;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  font-weight: bolder;
}

@media only screen and (max-width: 700px) {
  .drinks {
    text-align: center;
  }
}

h2 {
  display: flex;
  align-items: center;
  background-color: rgb(38, 38, 38);
  width: fit-content;
  padding: 2%;
  box-shadow: 8px 15px 15px 5px rgb(0, 0, 0);
  color: rgb(211, 173, 99);
  transition: 1s;
}

@media only screen and (max-width: 700px) {
  .drinks, a, h2 {
    margin-left: 0%;
  }
}

h2:hover {
  box-shadow: 8px 15px 15px 5px rgb(233, 172, 86);
}
