<nav class="navigation-bar">
  <ul>
    <li>
      <a routerLink="/"><img class="logo" src="../../assets/Logo4.JPG" alt="Logo"></a>
    </li>
    <li>
      <a routerLink="/search-drink">Search For A Drink</a>
    </li>
    <li>
      <a routerLink="/generate-random">Generate Random Drink</a>
    </li>
    <li>
      <a routerLink="/view-specials">View Specials</a>
    </li>
    <li>
      <a routerLink="/wine-list">View Wines</a>
    </li>
    <li>
      <a routerLink="/beer-list">View Beers</a>
    </li>
    <li>
      <a routerLink="/view-non-alc" routerLinkActive="router-link-active" >View Non-Alcoholic</a>
    </li>
  </ul>
</nav>
