.logo {
  width: 100%;
}

ul {
  list-style: none;
  padding-left: 0px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

li {
  background-color: rgb(38,38,38);
  padding: 5% 0% 5% 0%;
}

a {
  text-decoration: none;
  background-color: rgb(38,38,38);
  color: rgb(146, 146, 146);
  transition: 0.5s;
}

a:hover {
  text-shadow: 0 0 10px rgb(233, 192, 109);
}

.navigation-bar {
  position: fixed;
  height: 100%;
  width: 22%;
  background-color: rgb(38, 38, 38);
  top: 0;
  left: 0;
}
