img {
  margin-left: 25%;
  margin-top: 3%;
  width: 65%;
  border-radius: 20%;
}

@media only screen and (max-width: 700px) {
  img {
    margin: 35% 10% 0% 13%;
  }
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: rgb(211, 173, 99);
  text-align: center;
  margin-top: 3%;
  margin-left: 15%;
  font-size: 300%;
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 150%;
    margin-left: 0%;
    margin-right: 10%;
  }
}
